/* BODY */
body {
  color:#000000;
  font-family: 'Futura', Trebuchet MS, Arial,sans-serif;
  position: relative;
  font-size: 36px;
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

*:focus{
  outline:none;
}

input,button,select,textarea{
  font-family: inherit;
}

.wrapper{
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

.title{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 80px;
  &_invert{
    color:white;
  }
  @media all and (max-width: 992px){
    font-size: 35px;
  }
}

.show-form{
  max-width: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color:#2c40c8;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
  transition: all .3s;
  &:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  }

  @media all and (max-width: 992px){
    margin: 0 auto;
  }
}

.message-incorrect{
  font-size: 16px;
}





